// Aboout us
@use '../base/variables.scss' as vars;

.about-images {
    position: relative;

    .about-img-01 {
        position: absolute;
        top: 200px;
        left: 10px;
        width: 260px;
        height: auto;
        border-radius: 30px;
    }

    .about-img-02 {
        position: absolute;
        left: 200px;
        width: 320px;
        height: auto;
        border-radius: 30px;
    }

    .about-img-03 {
        position: absolute;
        top: 350px;
        left: 130px;
        width: 380px;
        height: auto;
    }

    .about-img-04 {
        position: absolute;
        top: 30px;
        width: 260px;
        height: auto;
    }
}