// About Us
@use '../base/variables.scss' as vars;

.page-container {
    margin-left: vars.$side-bar-width;
    padding-left: 40px;
    padding-right: 64px;
}

.page-header {
    height: vars.$top-header-height;
    display: flex;
    align-items: center;
}

.sub-section {
    padding-top: 40px;
    padding-bottom: 200px;
}

.text {
    font-family: vars.$text-font;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: vars.$darker-color;

    span {
        font-weight: 700;
    }
}

.info-block {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 40px 0 0 0;

    .text-block {
        max-width: 450px;
        padding-top: 24px;
    }

    .image-block {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .connector-1 {
        margin-top: 100px;
    }
}

#howWeWork {

    h1 {
        margin-bottom: 80px;
    }

    .wireframes {
        width: 600px;
    }
}

.card-box {
    display: flex;
    flex-wrap: wrap;

    &.-flow {
        align-items: center;
        flex-wrap: nowrap;
        align-items: center;
    }

    .card-column {
        height: 340px;
        display: flex;
        align-items: flex-start;

        &.-vertical {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        &.-horizontal {

            img {
                margin-top: 70px;
            }
        }
    }
}

.connector-2 {
    margin: -70px 0 0 70px;
}

#portfolio {
    display: flex;
    padding-bottom: 0;

    h1 {
        margin-bottom: 32px;
    }

    .text {
        margin-bottom: 60px;
    }

    .left-block {
        max-width: 500px;
    }

    .right-block {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        margin-top: -60px;
    }

    .wireframes {
        width: 320px;
    }
}