// Buttons
@use '../base/variables.scss' as vars;

.logo-back-button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    height: 36px;
}

.start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    width: 120px;
    height: 120px;
    font-family: vars.$main-font;
    color: vars.$white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid vars.$white;
    border-radius: 50%;

    &::before {
        content: "";
        position: absolute;
        width: 140%;
        height: 1px;
        background-color: white;
        transform: rotate(135deg);
        transition: transform 0.3s ease, width 0.3s ease;
    }

    &:hover::before {
        transform: rotate(180deg) translateY(-12px);
        width: 50%;
    }
}

.menu-button {
    height: 50px;
    border: 1px solid vars.$darker-color;
    color: vars.$darker-color;
    font-family: vars.$main-font;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: vars.$darker-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 25px;
    box-shadow: 2px 2px 0 0 vars.$darker-color;
    transition: all 0.1s ease-out;

    &:hover {
        box-shadow: 0 0 4px 1px vars.$white;
        background: rgba(vars.$brand-color, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        color: vars.$white;
        border-color: vars.$white;
    }
}

.portfolio-link {
    font-family: vars.$text-font;
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    color: vars.$brand-color;
    text-decoration: none;
    line-height: 32px;
    position: relative;

    img {
        position: absolute;
        left: 115px;
        bottom: 4px;
    }
}