// Buttons
@use '../base/variables.scss' as vars;

.home-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: vars.$light-blue-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    border: none;
    cursor: pointer;
}

.start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    width: 120px;
    height: 120px;
    font-family: vars.$main-font;
    color: vars.$white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid vars.$white;
    border-radius: 50%;

    &::before {
        content: "";
        position: absolute;
        width: 140%;
        height: 1px;
        background-color: white;
        transform: rotate(135deg);
        transition: transform 0.3s ease, width 0.3s ease;
    }

    &:hover::before {
        transform: rotate(180deg) translateY(-12px);
        width: 50%;
    }
}

.main-button {
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
    border: 1px solid vars.$darker-color;
    font-family: vars.$main-font;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: vars.$darker-color;
    padding: 0 32px;
    border-radius: 25px;
    box-shadow: 2px 2px 0 0 vars.$darker-color;
    transition: all 0.1s ease-out;

    .icon {
        fill: vars.$darker-color;
    }

    &:hover {
        box-shadow: 2px 2px 0 0 vars.$brand-color;
        background-color: vars.$brand-light-color;
        color: vars.$brand-color;
        border-color: vars.$brand-color;

        .icon {
            fill: vars.$brand-color;
        }
    }

    &.page-button {
        padding: 0;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
    }
}

.portfolio-link {
    font-family: vars.$text-font;
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    color: vars.$brand-color;
    text-decoration: none;
    line-height: 32px;
    position: relative;

    img {
        position: absolute;
        left: 115px;
        bottom: 4px;
    }
}