// Cards
@use '../base/variables.scss' as vars;

// ------------------------------------------------------- Home Word Change

.word-container {
    height: 100px;
    background-color: vars.$light-blue-color;
    border-radius: 50px;
    padding: 0 40px;
    margin-left: -40px;
    margin-top: 24px;
    display: block;
    position: relative;
    overflow: hidden;
    transition: width 0.4s ease-in-out;
    box-sizing: content-box;
    max-width: 50%;

    .word-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        .word {
            position: absolute;
            left: 0;
            top: 4px;
            opacity: 0;
            transform: translateY(100%);
            transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
            white-space: nowrap;
            font-size: 70px;
            font-weight: 700;

            &.active {
                opacity: 1;
                transform: translateY(0);
                position: relative;
            }
        }
    }
}

// ------------------------------------------------------- Postits

.postit {
    width: 135px;
    height: 135px;
    background-color: #F9B8FF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);

    p {
        margin: 0;
        font-family: vars.$postit-font;
        font-size: 10px;
        line-height: 14px;
        color: vars.$dark-color;
        font-weight: 500;
    }

    .signature {
        font-size: 8px;
        color: vars.$brand-light-color;
    }
}

.postit-top {
    margin: 0 0 20px 200px;
}

.postit-bottom {
    margin: 15px 0 0 400px;
}

// ------------------------------------------------------- Start Box

.start-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    font-family: vars.$text-font;
    color: vars.$darker-color;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid vars.$darker-color;
    border-radius: 50%;
}

// ------------------------------------------------------- Contact Box

.contact-us-box {
    height: 140px;
    width: 200px;
    border: 1px solid vars.$darker-color;
    border-radius: 16px;
    box-shadow: 2px 2px 0 0 vars.$darker-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
    }

    .title {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
        color: vars.$darker-color;
    }

    .email-text {
        color: vars.$brand-color;
    }
}

// ------------------------------------------------------- Animated Cursor

.cursor {
    height: 35px;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 4s ease-in-out;
}

// ------------------------------------------------------- Cards

.card {
    border: 2px solid vars.$darker-color;
    border-radius: 16px;
    width: 125px;
    height: 135px;
    padding: 16px 12px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        margin: 0;
        font-family: vars.$postit-font;
        font-size: 10px;
        line-height: 14px;
        color: vars.$dark-color;
        font-weight: 500;
    }

    &.-start {
        width: 70px;
        height: 70px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}