// Variables

$white: #fff;
$dark-color: #313135;
$darker-color: #1c1c1e;
$brand-color: #6d3fd2;
$brand-light-color: #956E99;
$bkg-gradient-blue: #D3D6FA;
$bkg-gradient-orange: #FC8357;
$side-bar-width: 160px;
$top-header-height: 140px;
$main-font: "Syne", Helvetica, sans-serif;
$text-font: "Andada Pro", serif;
$postit-font: "inter", Helvetica, sans-serif;